#colocationPageCarousel .item .carousel-caption {
  top: 140px;
  z-index: 10;
}

#colocationPageCarousel .item .carousel-caption>p:first-child {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}

#colocationPageCarousel .item .carousel-caption>p:last-child {
  font-size: 25px !important;
  font-weight: 600;
  line-height: 1px;
  text-transform: uppercase;
}

#colocationPageTabs {
  background-color: #000;
  margin-top: 0;
}

#colocationPageTabs>li {
  color: #fff;
  cursor: pointer;
  background-color: #000;
  margin-bottom: 0;
  padding: 0;
  border: 0;
  border-bottom-color: transparent;
}

#colocationPageTabs>li>a {
  font-size: 16px;
  color: #fff;
  padding: 10px 15px;
  background-color: #000;
}

#colocationPageTabs>li>a:hover {
  color: #fff;
  border-color: #000;
  background-color: #000;
}

#colocationPageTabs>li.active>a, #colocationPageTabs>li.active>a:focus, #colocationPageTabs>li.active>a:hover {
  color: #fff;
  cursor: default;
  background-color: #000;
  border-color: #000;
  border-bottom-width: 2px;
  border-bottom-color: red;
}

#colocationPageTabs>li:first-child {
  margin-left: 100px;
}

#colocationPageTabContent .colocation-page-tab-content {
  display: flex;
}

#colocationPageTabContent .colocation-page-tab-content img {
  width: 49%;
  height: 420px;
  margin: 30px 50px 40px 0px;
}

#colocationPageTabContent .colocation-page-tab-content .tab-caption>h3 {
  font-size: 24px;
  font-family: 'Open Sans';
  font-weight: 600;
  margin-top: 75px;
}

#colocationPageTabContent .colocation-page-tab-content .tab-caption>p {
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: 400;
  margin-top: 11px;
  margin-right: 8em;
}

@media (max-width : 990px) {
  #colocationPageTabContent .colocation-page-tab-content {
    display: none;
  }
  
  #colocationPageTabContent .colocation-page-tab-content .tab-caption .tab-button {
    display: none;
  }

  #colocationPageTabContent .colocation-page-tab-content {
    display: block;
  }

  .tab-content>.tab-pane {
    display: block;
  }

  #colocationPageTabContent .colocation-page-tab-content>img {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-right: 0px;
  }

  #colocationPageTabContent .colocation-page-tab-content .tab-caption>p {
    font-size: 17px;
    margin: 10px 0 0 10px;
  }

  #colocationPageTabContent .colocation-page-tab-content .tab-caption>h3 {
    font-size: 25px;
    font-weight: normal;
    font-family: 'Acme';
    margin-top: 10px;
    text-align: center;
  }
}

