.contact-header {
  float: left;
  padding: 36px 0 0 6em;
}

.contact-header h1 {
  font-size: 30px;
  font-family: 'Open Sans';
  font-weight: 600;
}

.contact-header p {
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: 400;
  line-height: 7px;
  margin-top: 15px;
}

.contact-address {
  float: right;
  font-size: 15px;
  line-height: 27px;
  padding: 4em 17em 0 0;
}

.contact-address ul li {
  list-style-type: none;
}

#contactForm ul li {
  list-style-type: none;
}

#contactForm ul li {
  font-size: 15px;
  margin: 27px 0 0 19px;
  border-radius: 0;
  width: 35em;
}

#contactForm ul li input {
  font-size: 15px;
  border-radius: 0;
}

#contactForm ul li textarea {
  height: 15em;
}

#contactForm ul li button {
  font-size: 15px;
  margin: 11px 0 15px 2px;
  cursor: pointer;
  border-radius: 0;
}

#contactForm p {
  font-size: 15px;
  margin: 17px 0 0 57px;
}

label.error {
  font-size: 11px;
  display:block;
  width:100%;
  margin: 6px 0 -13px 2px;
  color: red;
}

.thanks p {
  color: green;
}

.has-error {
  color: green;
}

@media (max-width: 872px) {
  .contact-header {
    float: none;
    padding: 36px 0 0 4em;
  }

  .contact-address {
    float: none;
    padding: 4em 0 0 0;
  }

  #contactForm ul li button {
    margin: 17px 0 0 0;
  }

  #contactForm ul li {
    font-size: 15px;
    margin: 27px 0 0 0;
    border-radius: 0;
    width: 90%;
  }

  #contactForm ul li button {
    margin: 11px 0 15px 2px;
  }
}

@media (max-width: 460px) {
  .contact-header p {
    line-height: 20px;
  }
}

