.my-navbar {
  width: 100%;
  height: 80px;
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
  background-color: #fff;
}

.my-navbar .navbar-brand {
  background-image: url(../images/logo1.png);
  background-repeat: no-repeat;
  width: 100px;
  height: 50px;
  margin-top: 15px;
  text-indent: -10000px;
}

.wrapper{
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

.navbar-brand-logo {
  margin: 0 3rem 0 6rem;
}

.navbar-brand {
  padding: 0;
}

.my-navbar .navbar-collapse .nav {
  margin-top: 15px;
}

.navbar-collapse {
  width: 100%;
}

.my-navbar .navbar-collapse .nav li a {
  font-size: 15.4px !important;
  font-family: 'Open Sans';
  font-weight: 400;
}

.navbar-default .navbar-nav>.open>a:hover {
  color: #333;
}

.my-navbar .navbar-nav li.open a.dropdown-toggle {
  background-color: #3c3c3b;
  border-bottom: 1px solid #333;
  color: #fff;
}

.my-navbar .navbar-nav li a.dropdown-toggle {
  padding-right: 25px;
  padding-left: 24px;
  margin-right: 41px;
}

.my-navbar .dropdown .dropdown-menu {
  background-color:  #3c3c3b;
  min-width: 170px; 
  width: 170px;
  height: 155px;
  top: 51px;
  left: 0;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 5px 5px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 5;
}

.my-navbar .dropdown .dropdown-menu li a {
  color: #fff;
  line-height: 43px;
}

.my-navbar .dropdown .dropdown-menu li a:hover {
  color: #fff;
  background-color: #333
}

.my-navbar .navbar-collapse .nav li:nth-child(2), li:nth-child(3), li:nth-child(4), li:nth-child(5), li:nth-child(6) {
  margin: 0 3.7rem 0 0;
}

.my-navbar .navbar-collapse .nav li:nth-child(6) {
  height: 28px;
  position: relative;
  right: 5px;
  top: 9px;
  border-left: 1px solid #dbdbdb;
}

.my-navbar .navbar-collapse .nav .dropdown-menu>li:nth-child(2) {
  margin: 0;
}

.my-navbar .navbar-collapse .nav .dropdown-menu>li:last-child {
  margin: 0;
}

.navbar-collapse {
  padding-right: 0;
}

#myCarousel .item .carousel-caption {
  top: 140px;
  z-index: 10;
}

#myCarousel .item .carousel-caption p:first-child {
  font-size: 27px;
  font-weight: 600;
  text-transform: uppercase;
}

#myCarousel .item .carousel-caption p:nth-child(3) {
  font-size: 16px;
  font-weight: 600;
  line-height: 1px;
  text-transform: uppercase;
}

#myCarousel .item .carousel-caption .btn-caption {
  border-radius: 0;
  font-size: 16px;
  padding: 10px 17px;
  margin-top: 2px;
  text-transform: uppercase;
  color: #14de1a;
  background-color: #e20613;
}

.left span.icon-prev, span.icon-next {
  font-size: 60px;
}

.right span.icon-next {
  font-size: 60px;
}

.carousel-control .icon-prev {
  margin-top: -25px;
}

.carousel-control .icon-next {
  margin-top: -25px;
}

.featured-services {
  margin-top: 40px;
}

.featured-services h3 {
  font-size: 40px;
  font-family: 'Yanone Kaffeesatz';
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.featured-services p {
  width: 84.5%;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: 400;
}

.nav-tabs {
  margin-top: 46px;
}

.nav-tabs .nav-item:nth-child(1) {
  margin-left: 111px;
}

.nav-tabs>li>a:hover {
  background-color: #fff;
}

.nav-tabs>li>a {
  font-size: 16px;
  padding: 10px 35px;
  color: #fff;
  background-color: #3c3c3b;
}

#myTabContent .my-tab-content {
  display: flex;
}

#myTabContent .my-tab-content img {
  width: 49%;
  height: 420px;
  margin-top: 30px;
  margin-right: 50px;
}

.nav-tabs>li>a:hover {
  color: #333;
}

#myTabContent .my-tab-content .tab-caption h3 {
  font-size: 35px;
  font-family: 'Yanone Kaffeesatz';
  font-weight: 600;
  margin-top: 75px;
}

#myTabContent .my-tab-content p:nth-child(2) {
  width: 87%;
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: 400;
  margin-top: 20px;
  padding-right: 117px;
}

#myTabContent .my-tab-content .tab-caption .tab-button {
  color: #fff;
  font-size: 18px;
  border-radius: 0;
  margin-top: 40px;
  padding: 10px 18px;
  background-color: #e20613;
}

.why-race-online {
  background-color: #f1f1f1;
  height: 560px;
}

.why-race-online h3 {
  text-transform: uppercase;
  font-size: 40px;
  font-family: 'Yanone Kaffeesatz';
  font-weight: 600;
  margin-top: 75px;
}

.why-race-online p {
  width: 87%;
  margin: 0 auto;
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: 400;
  margin-top: 50px;
}

.why-race-online ul {
  margin-top: 50px;
  margin-left: 30px;
}

.why-race-online ul li {
  float: left;
  width: 21%;
  margin: 0 1.3%;
  list-style-type: none;
}

.why-race-online ul li img {
  width: 150px;
}

.why-race-online ul li p {
  font-size: 18.5px;
  font-family: 'Yanone Kaffeesatz';
  font-weight: 600;
  text-transform: uppercase;
}

.why-race-online ul li p:nth-child(2) {
  margin-top: 15px;
}

.why-race-online ul li p:last-child {
  margin-top: -3px;
}

.csszoom {
  -ms-transform: scale(1.5); /* IE 9 */
  -ms-transform-origin: 0 0;
  -moz-transform: scale(1.5); /* Firefox */
  -moz-transform-origin: 0 0;
  -o-transform: scale(1.5); /* Opera */
  -o-transform-origin: 0 0;
  -webkit-transform: scale(1.5); /* Safari And Chrome */
  -webkit-transform-origin: 0 0;
  transform: scale(1.5); /* Standard Property */
  transform-origin: 0 0;  /* Standard Property */
}

.ie8 .csszoom{
  zoom:1.5;
}

.our-presence h3:nth-child(1) {
  font-size: 40px;
  font-family: 'Yanone Kaffeesatz';
  font-weight: 600;
  margin-top: 90px;
  text-transform: uppercase;
}

.our-presence .our-presence-content {  
  display: flex;
  align-items: center;
  justify-content: center;
}

.our-presence .our-presence-content .select-content:first-child {  
  display: flex;
  margin: 0px 5px;
}

.our-presence .our-presence-content .select-content:first-child>select {  
  font-size: 20px;
  padding: 8px 14px;
  margin: 19px 0px 0px 5px;
}

.our-presence .our-presence-content .select-content:nth-child(2) {  
  display: flex; 
}

.our-presence .our-presence-content .select-content:last-child {
  font-size: 14px;
  margin-top: 19px;
  line-height: 10px;
}

.our-presence .our-presence-content .explore-button {
  color: #fff;
  font-size: 18px;
  margin: 9px 14px 0px 0px;
  padding: 9px 17px;
  border-radius: 0px;
  background-color: #ec5d65;
}

.our-presence .our-presence-content .dot-content {
  font-size: 40px;
  line-height: 10px;
  margin: 15px 4px 0px 0px;
}

.our-presence .our-presence-content .dot-content>p:first-child {
  color: #3fc11f;
}

.our-presence .our-presence-content .dot-content>p:last-child  {
  color: #fbe712;
}

.select-text {
  margin: 15px 4px 0px 0px;
}

.select-text p {
  font-weight: none;
}

.our-presence .pop {
  margin-top: 45px;
  margin-bottom: 45px;
}

.our-presence .pop-button {
  font-size: 18px;
  padding: 10px 50px;
  border-radius: 0;
  color: #fff;
  border-color: #5885a7;
  background-color: #5885a7;
}

.our-presence .our-presence-border-bottom {
  border: .5px solid #eaeaea;
  margin-top: 130px;
}

#map {
  width: 100%;
  height: 365px;
  background-color: grey;
}

.our-customers h3 {
  text-transform: uppercase;
  font-size: 40px;
  font-family: 'Yanone Kaffeesatz';
  font-weight: 600;
  margin-top: 87px;
}

.our-customers p {
  font-size: 17px;
  margin-top: 20px;
}

.our-customers ul {
  margin-top: 45px;
}

.our-customers ul li {
  float: left;
  width: 14%;
  margin: 2.6% 1%;
  list-style-type: none;
}

.our-customers ul li img {
  width: 100px;
}

.our-customers ul {
  max-height: 330px;
  overflow: hidden;
}

#showImages {
  margin: 0 auto;
}

.our-sister-concerns h3 {
  font-size: 40px;
  font-family: 'Yanone Kaffeesatz';
  font-weight: 600;
  margin-top: 100px;
  text-transform: uppercase;
}

.our-sister-concerns ul {
  margin-left: 15px;
}

.our-sister-concerns ul li {
  float: left;
  width: 32%;
  margin: 2.6% 0;
  list-style-type: none;
}

.our-sister-concerns ul li img {
  width: 250px;
}

.ssl-pay-img {
  margin-top: 60px;
}

.ssl-pay .ssl-pay-img img {
  width: 92%;
}

.footer {
  width: 100%;
  height: 324px;
  background-color: #000;
}

.footer ul {
  color: #fff;
  float: left;
  width: 20%;
  margin-top: 75px;
  list-style-type: none;
}

.footer ul li {
  width: 100%;
  font-size: 16px;
  line-height: 30px;
}

.footer ul:first-child {
  margin-right: 36px;
  margin-left: 20px;
  margin-top:  65px;
}

.footer ul:last-child {
  margin-left: -50px;
}

.footer ul:nth-child(3) {
  margin-left: 8px;
}

.footer ul:nth-child(4) {
  margin-left: -60px;
}

.footer ul:nth-child(5) {
  margin-left: -60px;
}

.footer ul:nth-child(5) li:first-child {
  font-size: 18px;
}

.footer ul:nth-child(2) li:first-child {
  font-size: 18px;
}

.footer ul:nth-child(2) ul:nth-child(3) ul:nth-child(4) ul:nth-child(5) {
  margin-top: 80px;
  margin-left: 30px;
}

.footer:after {
  content: "";
  display: block;
  clear: both;
}

.footer ul:after {
  content: "";
  display: block;
  clear: both;
}

.copyright {
  color: #fff;
  clear: both;
  font-size: 16px;
  padding-top: 50px;
  margin-left: 60px;
}

.state-indicator {
  position: absolute;
  top: -999em;
  left: -999em;
  z-index: 1;
}

/* yanone-kaffeesatz-v15-latin-300 - latin */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 300;
  src: url('http://localhost/wordpress/wp-content/themes/raceonlinelimited/fonts/yanone-kaffeesatz-v15-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('http://localhost/wordpress/wp-content/themes/raceonlinelimited/fonts/yanone-kaffeesatz-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://localhost/wordpress/wp-content/themes/raceonlinelimited/fonts/yanone-kaffeesatz-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('http://localhost/wordpress/wp-content/themes/raceonlinelimited/fonts/yanone-kaffeesatz-v15-latin-300.woff') format('woff'), /* Modern Browsers */
       url('http://localhost/wordpress/wp-content/themes/raceonlinelimited/fonts/yanone-kaffeesatz-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('http://localhost/wordpress/wp-content/themes/raceonlinelimited/fonts/yanone-kaffeesatz-v15-latin-300.svg#Grandstander') format('svg'); /* Legacy iOS */
}

/* yanone-kaffeesatz-v15-latin-600 - latin */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 600;
  src: url('http://localhost/wordpress/wp-content/themes/raceonlinelimited/fonts/yanone-kaffeesatz-v15-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('http://localhost/wordpress/wp-content/themes/raceonlinelimited/fonts/yanone-kaffeesatz-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://localhost/wordpress/wp-content/themes/raceonlinelimited/fonts/yanone-kaffeesatz-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('http://localhost/wordpress/wp-content/themes/raceonlinelimited/fonts/yanone-kaffeesatz-v15-latin-600.woff') format('woff'), /* Modern Browsers */
       url('http://localhost/wordpress/wp-content/themes/raceonlinelimited/fonts/yanone-kaffeesatz-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('http://localhost/wordpress/wp-content/themes/raceonlinelimited/fonts/yanone-kaffeesatz-v15-latin-600.svg#Grandstander') format('svg'); /* Legacy iOS */
}

/* open-sans-v17-latin-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('http://localhost/wordpress/wp-content/themes/raceonlinelimited/fonts/open-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('http://localhost/wordpress/wp-content/themes/raceonlinelimited/fonts/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://localhost/wordpress/wp-content/themes/raceonlinelimited/fonts/open-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('http://localhost/wordpress/wp-content/themes/raceonlinelimited/fonts/open-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('http://localhost/wordpress/wp-content/themes/raceonlinelimited/fonts/open-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('http://localhost/wordpress/wp-content/themes/raceonlinelimited/fonts/open-sans-v17-latin-regular.svg#Grandstander') format('svg'); /* Legacy iOS */
}

/* roboto-slab-900 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 900;
  src: url('http://localhost/wordpress/wp-content/themes/raceonlinelimited/fonts/roboto-slab-v11-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('http://localhost/wordpress/wp-content/themes/raceonlinelimited/fonts/roboto-slab-v11-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://localhost/wordpress/wp-content/themes/raceonlinelimited/fonts/roboto-slab-v11-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('http://localhost/wordpress/wp-content/themes/raceonlinelimited/fonts/roboto-slab-v11-latin-900.woff') format('woff'), /* Modern Browsers */
       url('http://localhost/wordpress/wp-content/themes/raceonlinelimited/fonts/roboto-slab-v11-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('http://localhost/wordpress/wp-content/themes/raceonlinelimited/fonts/roboto-slab-v11-latin-900.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}

/* acme-regular - latin */
@font-face {
  font-family: 'Acme';
  font-style: normal;
  font-weight: 400;
  src: url('http://localhost/wordpress/wp-content/themes/raceonlinelimited/fonts/acme-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Acme Regular'), local('Acme-Regular'),
       url('http://localhost/wordpress/wp-content/themes/raceonlinelimited/fonts/acme-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://localhost/wordpress/wp-content/themes/raceonlinelimited/fonts/acme-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('http://localhost/wordpress/wp-content/themes/raceonlinelimited/fonts/acme-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('http://localhost/wordpress/wp-content/themes/raceonlinelimited/fonts/acme-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('http://localhost/wordpress/wp-content/themes/raceonlinelimited/fonts/acme-v9-latin-regular.svg#Acme') format('svg'); /* Legacy iOS */
}

@media (max-width: 1199px) {
  .my-navbar .navbar-collapse .nav {
    float: none;
    display: block !important;
  }

  .my-navbar .navbar-nav li a.dropdown-toggle {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 1250px) {
  .state-indicator {
    position: absolute;
    top: -999em;
    left: -999em;
    z-index: 3;
  }
} 

@media (max-width: 1150px) {
  .my-navbar {
    height: auto;
  }

  .state-indicator {
    position: absolute;
    top: -999em;
    left: -999em;
    z-index: 4;
  }
} 

@media (max-width: 1030px) {
  .state-indicator {
    position: absolute;
    top: -999em;
    left: -999em;
    z-index: 5;
  }
} 

@media (max-width: 1116px) {
  .my-navbar {
    height: 100%;
  }
}

@media (max-width: 1114px) {
  .navbar-header {
    float: none;
    border: none;
  }

  .navbar-brand-logo {
    margin: 0 0 0 1.7rem;
  }

  .navbar-left,.navbar-right {
    float: none !important;
  }

  .navbar-toggle {
    display: none;
  }

  .navbar-collapse {
    border-top: none;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .navbar-collapse.collapse {
    display: block !important;
  }

  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }

  .navbar-nav>li {
    float: none;
  }

  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .collapse.in{
    display:block !important;
  }

  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .my-navbar .navbar-collapse .nav li:nth-child(6) {
    display: none;
  }

  .my-navbar .dropdown .dropdown-menu {
    background-color:  #3c3c3b;
    width: 100% !important;
    height: 170px;
    top: 0;
    left: 0;
    box-shadow: none;
    border: 0;
    border-radius: 0;
    margin: 0;
    border-bottom-left-radius: none;
    border-bottom-right-radius: none;
    z-index: 5;
  }
}

@media (max-width : 990px) {
  .nav-tabs {
    display: none;
  }

  #myTabContent .my-tab-content .tab-caption .tab-button {
    display: none;
  }

  #myTabContent .my-tab-content {
    display: block;
  }

  .tab-content>.tab-pane {
    display: block;
  }

  #myTabContent .my-tab-content img {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-right: 0px;
  }

  #myTabContent .my-tab-content p:nth-child(2) {
    width: 100%;
    font-size: 17px;
    margin-top: 10px;
    padding-right: 0px;
    margin-left: 10px;
  }

  #myTabContent .my-tab-content .tab-caption h3 {
    font-size: 25px;
    font-weight: normal;
    font-family: 'Acme';
    margin-top: 10px;
    text-align: center;
  }

  .featured-services {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .why-race-online ul {
    margin-left: -36px;
  }

  .why-race-online ul li {
    float: none;
    width: 100%;
    margin: 0px;
  }

  .why-race-online {
    height: 100%;
    padding-bottom: 75px;
  }

  .our-presence .our-presence-content {  
    display: block;
    margin-top: 35px;
    align-items: center;
    justify-content: center;
  }

  .our-presence .our-presence-content .select-content:first-child {  
    align-items: center;
    justify-content: center;
  }

  .our-presence .our-presence-content #select-hidden {  
    display: flex;
    justify-content: center;
  }

  .our-presence .our-presence-content .explore-button {  
    display: flex;
    justify-content: flex-start;
  }

  .our-customers ul li {
    float: none;
    width: 100%; 
    margin: auto;
  }

  .our-customers ul li img {
    width: 100px;
    margin-top: 16px;
    margin-left: -46px;
  }

  .our-customers ul {
    max-height: 100%;
  }

  .our-sister-concerns ul {
    margin-left: -38px;
  }

  .our-sister-concerns ul li {
    float: left;
    width: 100%;
    margin: 0;
    list-style-type: none;
  }

  .ssl-pay .ssl-pay-img img {
    width: 90%;
    margin: 2.7%;
  }

  .footer {
    height: 100%;
  }

  .footer ul {
    color: #fff;
    float: none;
    width: 100%;
    margin-top: 0px;
    margin-left: 110px;
    list-style-type: none;
  }

  .footer ul:first-child {
    margin-top:  0px;
    margin-right: 0px;
    margin-left: 110px;
    padding-top: 55px;
  }

  .footer ul:nth-child(3) {
    margin-left: 110px;
  }

  .footer ul:nth-child(4) {
    margin-left: 110px;
  }

  .footer ul:nth-child(5) {
    margin-left: 110px;
  }

  .footer ul:nth-child(5) li:first-child {
    font-size: 18px;
  }

  .footer ul:nth-child(2) li:first-child {
    font-size: 18px;
  }

  .footer ul:nth-child(2) ul:nth-child(3) ul:nth-child(4) ul:nth-child(5) {
    margin-top: 0px;
    margin-left: 0px;
  }

  .copyright {
    color: #fff;
    clear: both;
    font-size: 16px;
    padding-top: 0px;
    margin-left: 150px;
    margin-bottom: 45px;
  }

  .state-indicator {
    position: absolute;
    top: -999em;
    left: -999em;
    z-index: 1;
  }
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff !important;
  }
}

@media (max-width : 672px) {
  .my-navbar .navbar-brand {
    margin-top: 9px;
  }

  .navbar-toggle {
    display: block;
    margin: 14px 10px 0 0;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .collapse.in{
    display: block !important;
  }

  .my-navbar .dropdown .dropdown-menu {
    background-color:  #3c3c3b;
    min-width: 300px; 
    width: 100%;
    height: 170px;
    top: 0;
    left: 0;
    box-shadow: none;
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 5px 5px;
    border-bottom-left-radius: none;
    border-bottom-right-radius: none;
    z-index: 5;
  }

  .my-navbar .navbar-nav li.open a.dropdown-toggle {
    background-color: #3c3c3b;
    border-bottom: 1px solid #333;
    width: 100%;
    color: #fff;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    background-color: #333;
    color: #fff;
  }

  .my-navbar .navbar-collapse .nav {
    margin-top: 0;
  }

  .ssl-pay .ssl-pay-img img {
    width: 90%;
    margin-top: 120px;
  }
}

@media (max-width: 460px) {
  .pop .pop-button {
    font-size: 15px;
    padding: 10px 10px;
  }

  .footer ul {
    margin-left: 0px;
  }

  .footer ul:first-child {
    margin-left: 0px;
  }

  .footer ul:nth-child(3) {
    margin-left: 0px;
  }

  .footer ul:nth-child(4) {
    margin-left: 0px;
  }

  .footer ul:nth-child(5) {
    margin-left: 0px;
  }

  .copyright {
    margin-left: 40px;
  }

  .ssl-pay .ssl-pay-img img {
    width: 90%;
    margin-top: 120px;
  }
}

@media (max-width: 300px) {
  .our-presence .our-presence-content .pop-button {
    font-size: 11px;
    padding: 6px 6px;
  }
}








