#internetPageCarousel .item .carousel-caption {
  top: 140px;
  z-index: 10;
}

#internetPageCarousel .item .carousel-caption>p:first-child {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}

#internetPageCarousel .item .carousel-caption>p:nth-child(3) {
  font-size: 25px;
  font-weight: 600;
  margin-top: -17px;
  text-transform: uppercase;
}

#internetPageCarousel .item .carousel-caption>p:nth-child(4) {
  font-size: 14px;
  margin-top: -7px;
}

#internetPageCarousel .item .carousel-caption>p:last-child {
  font-size: 14px;
  margin-top: -11px;
}

#internetPageTab {
  background-color: #000;
  margin-top: 0;
}

#internetPageTab>li {
  color: #fff;
  cursor: pointer;
  background-color: #000;
  margin-bottom: 0;
  padding: 0;
  border: 0;
  border-bottom-color: transparent;
}

#internetPageTab>li>a {
  font-size: 16px;
  color: #fff;
  background-color: #000;
}

#internetPageTab>li>a:hover {
  color: #fff;
  border-color: #000;
  background-color: #000;
}

#internetPageTab>li.active>a, #internetPageTab>li.active>a:focus, #internetPageTab>li.active>a:hover {
  color: #fff;
  cursor: default;
  background-color: #000;
  border-color: #000;
  border-bottom-width: 2px;
  border-bottom-color: red;
}

#internetPageTab>li:first-child {
  margin-left: 100px;
}

.internet-tb-content-group {
  display: flex;
}

.internet-tb-content-group img {
  width: 48%;
  height: 420px;
  margin: 30px 50px 40px 0px;
}

.internet-tb-content-group .tab-caption>h3 {
  font-size: 22px;
  font-family: 'Open Sans';
  font-weight: 600;
  margin-top: 75px;
}

.internet-tb-content-group .tab-caption>p {
  font-size: 15px;
  font-family: 'Open Sans';
  font-weight: 400;
  margin-top: 11px;
  margin-right: 8em;
}

.internet-tb-content-group .tab-caption .btn-caption {
  border-radius: 0;
  font-size: 14px;
  padding: 10px 17px;
  margin-top: 9px;
  text-transform: uppercase;
  color: #fff;
  background-color: #e20613;
}

/* */

.internet-tb-content-group:first-child img {
  margin: 30px 50px 0 0px;
}

.internet-tb-content-group:nth-child(2) img {
  margin: 0 0 40px 0px;
}

.internet-tb-content-group:nth-child(2) .tab-caption>h3 {
  margin-left: 105px;
}

.internet-tb-content-group:nth-child(2) .tab-caption p {
  margin-top: 11px;
  margin-right: 2em;
  margin-left: 7em;
}

.internet-tb-content-group:nth-child(2) #tb-caption-mobile p {
  display: none;
}

.internet-tb-content-group:nth-child(2) #tb-caption-mobile h3 {
  display: none;
}


.internet-tb-content-group:nth-child(3) .tab-caption .btn-caption {
  margin-bottom: 5em;
}

.internet-tb-content-group:nth-child(3) {
  margin-top: 20px;
}

.internet-tb-content-group:last-child img {
  margin-bottom: 35px;
}

@media (max-width : 990px) {
  #internetPageTab {
    display: none;
  }

  .internet-tb-content-group .tab-caption .tab-button {
    display: none;
  }

  .internet-tb-content-group:nth-child(2) .tab-caption p {
    display: none;
  }

  .internet-tb-content-group:nth-child(2) .tab-caption h3 {
    display: none;
  }

  .internet-tb-content-group:nth-child(2) #tb-caption-mobile p {
    font-size: 17px;
    margin: 10px 0 0 10px;
    display: block;
  }

  .internet-tb-content-group:nth-child(2) #tb-caption-mobile h3 {
    font-size: 25px;
    font-weight: normal;
    font-family: 'Acme';
    margin-top: 10px;
    text-align: center;
    display: block;
    margin-left: 0;
  }

  .internet-tb-content-group {
    display: block;
  }

  .tab-content>.tab-pane {
    display: block;
  }

  .internet-tb-content-group>img {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-right: 0px;
  }

  .internet-tb-content-group .tab-caption>p {
    font-size: 17px;
    margin: 10px 0 0 10px;
  }

  .internet-tb-content-group .tab-caption>h3 {
    font-size: 25px;
    font-weight: normal;
    font-family: 'Acme';
    margin-top: 10px;
    text-align: center;
  }
}